.DS_Store
.idea
*.log
tmp/
expirment/
*.json
*.txt
*.db
*.env
*.out
coverage/*
docs/
nimcache/
notes.org
src/htmldocs/
test.csv
test.jl
tests/.~lock.test.csv#
tests/big.csv
tests/megatest
tests/test_docs
tests/test_docs.html
tests/test_parse
tests/test_relations.nim
tests/test_remap
